<div class="">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Timeline</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Home</a></li>
               
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                            class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                            class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-sm-12">
                    <ul class="cbp_tmtimeline">
                        <li *ngFor="let work of workList">
                            <div class="cbp_tmicon bg-info">
                                <i class="zmdi zmdi-label"></i>
                            </div>
                            <div class="cbp_tmlabel">
                                <div class="cbp_tmtime">
                                    <span>{{ work.UpdatedOn }}</span> 
                                </div>
                                <h5 [style.color]="work.Color_Hex">
                                    
                                    <span style="font-weight: bold;" >{{ work.StatusName }} - {{ work.ColorDetail }}</span>
                                </h5>
                                <p>{{ work.WorkSubject }}</p>
                            </div>                   </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>