 <div class="container-fluid">
    <!-- Input -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">Basic Details</h2>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                    placeholder="Work Subject"
                                    name="workSubject"
                                    [(ngModel)]="work.WorkSubject" />
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12 row-span-2">
                            <div class="form-group">
                                <input type="text" class="form-control"
                                    placeholder="Note" name="workNote"
                                    [(ngModel)]="work.WorkDetail" />
                            </div>
                        </div>

                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <h2 class="card-inside-title">Start
                                    Date</h2>
                                <div class="input-group">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="zmdi zmdi-calendar"></i></span>
                                    </div>

                                    <input
                                        class="form-control"
                                        type="text"
                                        mwlFlatpickr
                                        [(ngModel)]="work.StartDate"
                                        [enableTime]="false"
                                        [convertModelValue]="true"
                                        dateFormat="Y-m-d"
                                        [altInput]="true"
                                        [altFormat]="'F j, Y'" />

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <h2 class="card-inside-title">Start
                                    Time</h2>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="zmdi zmdi-calendar"></i></span>
                                    </div>
                                    <!-- Start Time -->
                                    <input
                                        class="form-control"
                                        type="text"
                                        mwlFlatpickr
                                        [(ngModel)]="work.StartTime"
                                        [noCalendar]="true"
                                        [enableTime]="true"
                                        dateFormat="H:i"
                                        [convertModelValue]="true"
                                        [altInput]="true"
                                        [altFormat]="'h:i K'" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <h2 class="card-inside-title">End
                                    Date</h2>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="zmdi zmdi-calendar"></i></span>
                                    </div>

                                    <!-- End Date -->
                                    <input
                                        class="form-control"
                                        type="text"
                                        mwlFlatpickr
                                        [(ngModel)]="work.EndDate"
                                        [enableTime]="false"
                                        [convertModelValue]="true"
                                        dateFormat="Y-m-d"
                                        [altInput]="true"
                                        [altFormat]="'F j, Y'" />

                                    <!-- End Time -->

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <h2 class="card-inside-title">End Time</h2>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="zmdi zmdi-calendar"></i></span>
                                    </div>

                                    <!-- End Time -->
                                    <input
                                        class="form-control"
                                        type="text"
                                        mwlFlatpickr
                                        [(ngModel)]="work.EndTime"
                                        [noCalendar]="true"
                                        [enableTime]="true"
                                        dateFormat="H:i"
                                        [convertModelValue]="true"
                                        [altInput]="true"
                                        [altFormat]="'h:i K'" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control show-tick"
                                    [(ngModel)]="work.ColorID"
                                    name="selectedColor"
                                    *ngIf="color">
                                    <option [value]=0 disabled
                                        selected>--Please
                                        select
                                        a
                                        color--</option>
                                    <ng-container
                                        *ngFor="let i of color">

                                        <option
                                            value="{{i.ColorID}}"
                                            *ngIf="i.ColorDetail">{{i.ColorDetail
                                            }}</option>
                                    </ng-container>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control show-tick"
                                    [(ngModel)]="work.PriorityID"
                                    name="setPriority"
                                    *ngIf="priority">
                                    <option [value]=0 disabled
                                        selected>--Please
                                        select priority--</option>
                                    <option
                                        *ngFor="let i of priority "
                                        value="{{i.PriorityID}}">{{i.PriorityName}}</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6 d-flex  align-items-center">
                            <div class="form-group">

                                <input
                                    type="checkbox"
                                    id="isRadiusCheck"
                                    [(ngModel)]="work.isRadius"
                                    class="mx-2"
                                    name="isRadius" />
                                <label class="form-check-label ms-2"
                                    for="isRadiusCheck">Enable
                                    Radius</label>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="radiusInput">Radius (in
                                    km)</label>
                                <input
                                    type="text"
                                    class="form-control "
                                    id="radiusInput"
                                    [(ngModel)]="work.Radius"
                                    name="radius"
                                    placeholder="Enter radius" />

                            </div>
                        </div>
                    </div>
                    <div class="row clearfix ">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <button
                                    class="btn btn-success btn-lg"
                                    (click)="onSave()">Save</button>
                            </div>
                        </div>

                        <div class="row clearfix ml-4">
                            <div class="col-sm-12">
                                <button
                                    class="btn btn-danger btn-lg"
                                    (click)="onCancel()">Cancel</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
