<app-admin-docs-files
    *ngIf="workDoc"
    [job]="job"
    [work]="selectedWork"
    (cancel)="onCancel()">

</app-admin-docs-files>

<app-admin-docs-fils-job
    *ngIf="jobDoc"
    [job]="job"
    [type]="selectedType"
    (cancel)="onCancel()">
</app-admin-docs-fils-job>

<div class="body_scroll" *ngIf="!workDoc && !jobDoc">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Documents</h2>
            </div>
        </div>
        <div class="header">
            <div class="row clearfix m-2">
                <div class="col-sm-12">
                    <button
                        class="btn btn-danger btn-sm"
                        (click)="onCancelWork()">Go Back</button>
                </div>
            </div>

        </div>
    </div>

    <div class="w-100" *ngIf="docs=='changing'"><div
            class="d-flex justify-content-center w-100">
            <div
                class="spinner-border"
                role="status">
                <span
                    class="sr-only">Loading...</span>
            </div></div>
    </div>
    <div class="container-fluid" *ngIf="docs!=='changing' ">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="row pt-8">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h2>Works</h2>
                    </div>
                    <div class="w-100"
                        *ngIf="!workList || workList.length<0">
                        <div
                            class="d-flex justify-content-center w-100">

                            <p>No Work found to load</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <h2>Works</h2>
                        </div>
                        <div class="w-100"
                            *ngIf="!workList || workList.length<0">
                            <div
                                class="d-flex justify-content-center w-100">

                                <p>No Work found to load</p>
                            </div>
                        </div>
                    </div>

                </div> -->

            <div class="table-responsive">
                <div class="table-responsive"
                    *ngIf="workList && workList.length >0">
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-3 col-sm-6 mb-3"
                                *ngFor="let i of workList">
                                <div
                                    class="card text-center shadow-sm border rounded small-card"
                                    (click)="noWorkClick(i)"
                                    style="cursor: pointer;">
                                    <div
                                        class="card text-center p-3">
                                        <i
                                            class="bi bi-clipboard2-check-fill text-primary mb-1"
                                            style="font-size: 2.5rem;"></i>
                                        <div
                                            class="fw-semibold mg">#{{
                                            i.WorkID+ ' ' +
                                            i.WorkSubject }}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-8 w-100">
                <div class=" col-lg-10 col-md-6 col-sm-12 w-100">
                    <h2>Job Document</h2>
                </div>
            </div>

            <div class="table-responsive"
                *ngIf="typeList && typeList.length >0">

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-4"
                            *ngFor="let i of typeList">
                            <div
                                (click)="noJobClick(i)"
                                class="job-card text-center p-3 border rounded shadow-sm"
                                style="cursor: pointer;">
                                <i
                                    class="bi bi-suitcase-lg-fill"
                                    style="font-size: 3rem; color: #007bff;"></i>
                                <div class="mt-2">
                                    <strong>{{ i.DocumentType
                                        }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
