
<div class="body_scroll" *ngIf="!editing">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Specifications</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i
                                class="zmdi zmdi-home"></i> Dashboard</a></li>

                    <li class="breadcrumb-item active">Manage</li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu"
                    type="button"><i
                        class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button
                    class="btn btn-primary btn-icon float-right right_icon_toggle_btn"
                    type="button"><i
                        class="zmdi zmdi-arrow-right"></i></button>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>List</strong> </h2>

                    </div>
                </div>
                <div class="body">

                    <div
                        *ngIf="!ColorList || ColorList.length<0">
                        Nothing to show
                    </div>
                    <div class="table-responsive"
                        *ngIf="ColorList && ColorList.length >0">

                        <table
                            class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>Color</th>
                                    <th>Detail</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let i of ColorList">

                                    <td
                                        [style.backgroundColor]="i.Color_Hex">{{i.ColorName}}</td>
                                    <td>
                                        {{i.ColorDetail}}
                                    </td>
                                    <td>

                                        <button class="btn btn-info btn-round"
                                            (click)="editColorClick(i)">
                                            <i class="zmdi zmdi-more"></i> Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-danger btn-icon btn-icon-mini btn-round"
                                            (click)="deleteColor(i)">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="editing">
    <div class="container-fluid">
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">

                <div class="card">
                    <div class="body">
                        <h2 class="card-inside-title">Edit</h2>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <p>Color</p>
                                <div
                                    class="col-sm-1 mb-4 p-2 rounded text-white"
                                    [style.backgroundColor]="editColor.Color_Hex">
                                    {{editColor.ColorName}}
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control"
                                        placeholder="Color detail"
                                        name="jobName"
                                        [(ngModel)]="editColor.ColorDetail" />
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix ">
                            <div class="col-sm-1">
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <button
                                            class="btn btn-success btn-lg"
                                            (click)="saveEdit(editColor)">Save</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <button
                                    class="btn btn-danger btn-lg"
                                    (click)="cancelEdit()">Cancel</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>