<app-project-edit
    *ngIf="editing"
    [job]="selectedJob"
    (save)="saveJob($event)"
    (cancel)="cancelEdit()">
</app-project-edit>
<app-project-documents
    *ngIf="docs"
    [job]="selectedJob"
    (cancel)="cancelEdit()">
</app-project-documents>
<div class="body_scroll" *ngIf="!editing && !docs">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Job List</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i
                                class="zmdi zmdi-home"></i> Dashboard</a></li>

                    <li class="breadcrumb-item active">Manage</li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu"
                    type="button"><i
                        class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button
                    class="btn btn-primary btn-icon float-right right_icon_toggle_btn"
                    type="button"><i
                        class="zmdi zmdi-arrow-right"></i></button>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12">

                <div class="body">

                    <div class="input-group  my-4 w-100"
                        *ngIf="status.length > 0">
                        <button
                            *ngFor="let i of status"
                            type="button"
                            class="btn mr-4"
                            [ngClass]="{
                                 'btn-primary': selectedStatus === i.statusId,
                                        'btn-outline-primary': selectedStatus !== i.statusId
                        }"
                            (click)="onUserTypeChange(i.statusId)">
                            {{ i.statusName }}
                        </button>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Search by Job Name..."
                            [(ngModel)]="jobSearch" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary"
                                type="button"
                                (click)="jobSearch = ''">Clear</button>
                        </div>

                    </div>

                    <div *ngIf="jobList&&jobList==='changing'">
                        <div class="d-flex justify-content-center w-100">
                            <div
                                class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div></div>
                    </div>
                    <div
                        *ngIf="!jobList">
                        Nothing to show
                    </div>
                    <div class="scroll-container">
                        <div class="table-responsive">
                            <div class="table-responsive"
                                *ngIf="jobList!=='changing' && jobList">

                                <table
                                    class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                            <th>Active</th>
                                            <th>Job</th>
                                            <th>Date</th>
                                            <th>Address</th>
                                            <th>Manager</th>
                                            <th>Status</th>
                                            <th>Docs</th>
                                            <th>Status</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr
                                            *ngFor="let job of jobList | jobNameFilter:jobSearch">
                                            <td>
                                                <div class="checkbox">
                                                    <input
                                                        id="checkbox{{ job.JobID }}"
                                                        type="checkbox"
                                                        [checked]="job.isActive === 1"
                                                        (change)="toggleActive(job, $event)">
                                                    <label
                                                        for="checkbox{{ job.JobID }}"></label>
                                                </div>
                                            </td>
                                            <td>{{job.JobName}}</td>
                                            <td>{{ job.ProjectDateRange }}</td>
                                            <td>{{
                                                job.JobAddress+' '+job.JobCity+' '+
                                                job.JobPostalCode }}</td>
                                            <td>{{ job.ManagerName }}</td>
                                            <td>{{ job.StatusName
                                                }}</td>

                                            <td>
                                                <button
                                                    class="btn btn-primary btn-round"
                                                    (click)="doc(job)">
                                                    <i
                                                        class="zmdi zmdi-copy"></i>
                                                    Manage Docs
                                                </button>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button
                                                        class="btn btn-primary btn-round dropdown-toggle"
                                                        type="button"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false">

                                                        {{job.StatusName}}
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <button
                                                            class="dropdown-item"
                                                            *ngFor="let item of status"
                                                            (click)="onStatusSelect(item.statusId,job.JobID)">
                                                            {{ item.statusName
                                                            }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button
                                                    class="btn btn-info btn-round"
                                                    (click)="editJob(job)">
                                                    <i
                                                        class="zmdi zmdi-more"></i>
                                                    Edit
                                                </button>
                                            </td>
                                            <td>
                                                <button
                                                    class="btn btn-danger btn-icon btn-icon-mini btn-round"
                                                    (click)="deleteJob(job)">
                                                    <i
                                                        class="zmdi zmdi-delete"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
