<div class="navbar-brand">
    <button class="btn-menu ls-toggle-btn" type="button"><i
            class="zmdi zmdi-menu"></i></button>
    <a href="dashboard"><img src="/assets/images/logo.svg" width="25"
            alt="Aero"><span
            class="m-l-10">CanBuild</span></a>
</div>
<div class="menu">
    <ul class="list">
        <li>
            <div class="user-info">
                <a><img
                        src="/assets/images/profile.avif" class="profile"
                        alt="User">
                </a>
                <div class="detail">
                    <h4>{{userName}}</h4>
                    <small>{{userType}}</small>
                </div>
            </div>
        </li>
        <li class="active open"><a href="/admin/dashboard"><i
                    class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
        <li><a href="javascript:void(0);" class="menu-toggle"><i
                    class="zmdi zmdi-account"></i><span>User</span></a>
            <ul class="ml-menu">
                <li><a href="/admin/user-create">Create</a></li>
                <li><a href="/admin/user-manage">Manage</a></li>

            </ul>
        </li>
        <li> <a href="javascript:void(0);" class="menu-toggle"><i
                    class="zmdi zmdi-assignment"></i><span>Projects</span></a>
            <ul class="ml-menu">
                <li><a href="/admin/project-create">Create</a></li>
                <li><a href="/admin/project-manage">Manage</a></li>

            </ul>
        </li>
        <li> <a href="javascript:void(0);" class="menu-toggle"><i
                    class="zmdi zmdi-flag"></i><span>Work</span></a>
            <ul class="ml-menu">
                <li><a href="/admin/work-create">Create</a></li>
                <li><a href="/admin/work-manage">Manage</a></li>
            </ul>
        </li>
        <li><a href="/admin/requirements"><i
                    class="zmdi zmdi-check"></i><span>Requirements</span></a></li>
        <li><a href="/admin/color"><i
                    class="zmdi zmdi-flower"></i><span>Color</span></a>
        </li>
        <li><a href="/admin/request"><i
                    class="zmdi zmdi-flower"></i><span>Work Request</span></a>
        </li>
        <li><a href="/admin/docs"><i
                    class="zmdi zmdi-documents"></i><span>Documents</span></a>
        </li>
    </ul>
</div>